
<!-- Tell django to use 'static' template tag to build the URL for
the given relative path using the configured STATICFILES_STORAGE.
 django.contrib.staticfiles help you manage 'static files'.
 In your settings file, define 'STATIC_URL' path.  For example:
 STATIC_URL = '/static/' -> this means that static file is located
 in <app>/static path -->

{% load static %}

<html>


 {% block bootstrap %}
 {% include 'blog/head_css.html' %}
 {% endblock %}

 {% block styles %}
 <link rel="stylesheet" href="{% static 'blog/post_list.css' %}">
 {% endblock %}

 <style>
     // h1 a { color: red; }
 </style>
<head>


    <title>Django Girls blog </title>
</head>
<body>

    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
