
<!-- Tell django to use 'static' template tag to build the URL for
the given relative path using the configured STATICFILES_STORAGE.
 django.contrib.staticfiles help you manage 'static files'.
 In your settings file, define 'STATIC_URL' path.  For example:
 STATIC_URL = '/static/' -> this means that static file is located
 in <app>/static path -->

{% extends 'blog/base.html' %}

{% load static %}

<html>


 {% block bootstrap %}
 {% include 'blog/head_css.html' %}
 {% endblock %}

 {% block styles %}
 <link rel="stylesheet" href="{% static 'blog/post_list.css' %}">
 {% endblock %}

 <style>
     // h1 a { color: red; }
 </style>
<head>


    <title>Django Girls blog </title>
</head>
<body>

    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% block content %}
        {% for poop in posts %}
            <div class="post">
                <div class="date">
                    <p>published: {{ poop.published_date }}</p>
                </div>
                {% comment %}
                use django template tag 'url' to redirect to
                post_detail url passing post.pk as pk argument.
                pk stands for primary key of our Post model.
                Remember 'post' variable was passed by our view.
                {% endcomment %}
                <p> post.pk = {{ poop.pk }}</p>

                {% comment %}
                note that on blog.urls.py the url for 'post_details'
                add 'post' before primary key pk, like so
                ../post/4/
                in this case, using {% url template tag%} django looks
                into url name and extracts the url string to compose the href link.

                Don't use <!-- --> to comment django templates as django will continue
                to parse data within html comment tags.
                {% endcomment %}

                <h1><a href="{% url 'post_detail' pk=poop.pk %}">{{ poop.title }}</a></h1>
                <p>{{ poop.text | linebreaksbr }}</p> {# pipe posts' text through as filter to convert line-breaks into paragraphs #}
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>
